<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
 <listener class-name="Day_034_TestNG_Listeners.ListenerTest"/>
</listeners>

  <test  name="Batch-Listeners">
    <classes>
      <class name="Day_034_TestNG_Listeners.TestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
